<h2 class = "text-center">People You are Following</h2>

<% @following.each do |following| %>
  <div class="card">
    <div class="card-header">
      <h4 class = "name"><%= following.name %></h4>
    </div>
    <div class="card-body">
      <h5>5 Latest Commits</h5>
      <% following.recent_activity[0..4].each do |activity| %>
          <br>
          <span class="badge badge-pill badge-primary commit-repo"> <%= activity[:repo] %></span>
          <label class = "commit-message"><%= activity[:message] %></label>
        <% end %>
    </div>
  </div>
  <% end %>
